@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome paypal gateway</h1>
    @* paypal button *@
    <a href="/Home/PaymentWithPaypal" class="btn btn-primary">Pay Now</a>
</div>
